.container {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1000px;
}

.keyboard {
  padding-top: 50px;
  margin: 10px;
}

.row {
  display: flex;
  margin:0 auto 5px;
  line-height:50px;
}

.box {
  background: #444;
  color :#fff;
  margin:0 5px 0 0; 
  text-align: center;
  cursor: pointer;
}

.box:active {
  transform: translateY(1px);
  background: #333;
  box-shadow: 0 1px 0 #000;
}

.letter {
  font-size: 300%;
  background: ##fff;
  color: #444;
  text-align: center;
  cursor: pointer;
}

.blinking {
  background: #999;
}

.one { flex: 1; }
.one-half { flex: 1.5; }
.two { flex: 2; }
.two-half { flex: 2.5; }
.three { flex: 3; }
.five { flex: 5; }